<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/Tech-Blog/public/css/styles.css">
</head>
<body>
    <div class="flex-column justify-space-around">
        <header class="display-flex justify-space-between align-center p-2">
            <ul class="flex-row justify-content-center">
                <li>Home</li>
                <li>Dashboard</li>
                <li>Login</li>
            </ul>
        </header>
    </div>
</body>
</html>